

  <img src="./images/cinema.jpg" alt="Foto palomitas" width="500">
  
  <div>
    
<h1>CINEMA Ironhack</h1>


<form>

    
  
   
    <button id="button"><a href="/movies/"> Check the Movies!</a></button>
  




</form>
</div>