

<div class="div">

    <h2>Ironhack Cinema</h2>
    <p>Click on the movie to check the showtimes!</p>

    {{#each response}}
    
    <img src="{{this.image}}" alt="Foto">

    <h4>{{this.title}}</h4>

     <h4><a href="/movies/{{this._id}}">See more</a></h4> 
  
        
    {{/each}}

</div>